

body{
    background-color: rgb(204, 204, 204);
}
hr {
    width: 1200px;
    height:2px;
    background-color: rgb(100, 96, 96);
}
ul{
    display: inline;
    
}
#li{
    margin-left: 20px;
    
}
#id2{
    margin-left: 120px;
}

li{
    list-style: none;
    display: inline;
    margin: 50px;
    
    color: white;
}
nav{
    background-color: black;
}
a {
    color: white;
    text-decoration: none;
}
a:hover { color: tomato;}
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #383b38;
  }
.i1{width: 100%;}

.products{ width: 20%;
    padding-top: 90px;
   
}
#products{
    text-align: center;
    background-color: rgb(204, 204, 204);
}
div{
    background-color: rgb(70, 73, 77) ;
}
footer{
    text-align: center;
    color: wheat;
    background-color: black ;
    padding: 15px;
}